<nav style="float: right;">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/employee-attributes">Employee Attributes</a></li>
        <li><a href="/enclosures">Enclosures</a></li>
        <li><a href="/enclosure-access">Enclosure Access</a></li>
        <li><a href="/foods">Foods</a></li>
        <li><a href="/supplies">Supplies</a></li>
        <li><a href="/vet-cards">Vet Cards</a></li>
        <li><a href="/rations">Rations</a></li>
        <li><a href="/animal-compatibilities">Animal Compatibilities</a></li>
        <li><a href="/task1">Task 1</a></li>
        <li><a href="/task2">Task 2</a></li>
        <li><a href="/task3">Task 3</a></li>
        <li><a href="/task4">Task 4</a></li>
        <li><a href="/task5">Task 5</a></li>
        <li><a href="/task1">Task 1</a></li>
        <li><a href="/task1">Task 1</a></li>
        <li><a href="/task1">Task 1</a></li>
        <li><a href="/task1">Task 1</a></li>
        <li><a href="/task1">Task 1</a></li>
        <li><a href="/task1">Task 1</a></li>
        <li><a href="/task1">Task 1</a></li>
        <!-- Add links to other tables' pages here -->
    </ul>
</nav>